.list-table {
    .item {
        width: 40%;
    }

    .qty {
        width: 10%;
    }

    .aisle {
        width: 10%;
    }

    .price {
        width: 20%;
    }

    .total {
        width: 20%;
    }
}
